<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section th:fragment="information" class="card">
		<div class="card-body">
			<h5 class="card-title" th:text="${data.name}">Housing Name</h5>
			<div>
				<div th:text="${data.category}">Category</div>
				<div class="d-flex justify-content-between">
					<span th:text="|${data.floors} floors|">Floors</span>
					<span th:text="|${data.masterRoom} MasterRoom|">MasterRoom</span>
					<span th:text="|${data.singleRoom} SingleRoom|">SingleRoom</span>
					<span th:text="|${data.amount} MMK|">Amount</span>			
				</div>
			</div>
		</div>
	</section>
</body>
</html>