<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/fragments/layout :: common(title = 'Housing Details', content=~{::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main>
		<div class="d-flex mt-5">
			<div>
				<section class="mb-4">
					<h3>
						<i class="bi bi-gift"></i> 
						<span th:text="${data.name}">Housing Name</span>
					</h3>
					<h5 class="text-secondary" th:text="${data.categoryName}">Category</h5>
				</section>
				<section class="mb-5">
					<h2 class="text-danger"><span th:text="${data.floors}">1</span> Floors</h2>
				</section>	
				<section class="mb-5">
					<h2 class="text-danger"><span th:text="${data.masterRoom}">1</span> MasterRoom</h2>
				</section>	
				<section class="mb-5">
					<h2 class="text-danger"><span th:text="${data.singleRoom}">1</span> SingleRoom</h2>
				</section>				
				<section class="mb-5">
					<h2 class="text-danger"><span th:text="${data.amount}">100</span> MMK</h2>
				</section>	
				<section>
					<div th:if="${owner}">	
						<a th:href="@{/member/product/edit(id=${data.id},owner=${data.ownerId})}" class="btn btn-outline-primary">
							<i class="bi bi-pencil"></i> Edit Housing
						</a>
					</div>
				</section>				
			</div>
		</div>
	</main>
</body>
</html>